.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 350px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

.leftside-btns {
    float: left;
    width: 250px;
    border: 1px solid #333;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: #333
}
.leftside-btns ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.leftside-btns ul li a.remove-bdr {
    border-top:none;
}

.leftside-btns ul li a {
	padding:10px;
	color:#fff;
	text-decoration:none;
	background-color:transparent;
	float: left;
    width: 100%;
    border-top:1px solid #4a4949;
}

.leftside-btns ul li a:hover {
	background-color:#204d74;
}
.alert.alert-uploader {
    background-color: #337ab7;
    color: #fff;
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    opacity: 1;
    margin: 10px 10px 0 260px;
}
.alert.alert-uploader button.close {
    font-size: 16px;
    margin: 8px;
    color: #fff;
    opacity: 0.80;
}